body {
    background-color: #4a4b4c;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    
}

.underline{
text-decoration: underline;
}
#container {
    margin:20px;
}
h1,h2,h3 {
    font-family: Arial, Helvetica, sans-serif;
    color:#e0e0e0;
}

ul {
    color:#e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color:#e0e0e0;
}

#wrapper {
    width: 100%;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.center-small {
 display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: #6F6F6F; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

label{
    color:#e0e0e0;

}
.label-block{
    margin-right: 5px;
    top: 1px;
    position: relative;
    text-decoration:none;
    cursor: pointer;
  }
.no_underline{
    text-decoration:none;
}
  .center-block{
      text-align: center;
  }

.center-list{
    max-width: 1000px;
    text-align: left;
    color:#e0e0e0;
    font-size: 18px;
    margin:auto;
}


.project-link{
    color:#e0e0e0;
}
.line-height-list{
    line-height: 30px;
}
#calebme{
   
    max-width: 200px;
    border-radius: 50%;
}

.center-alighn{
    text-align:center;
}

.content {
  min-height: calc(100vh - 70px);
  
}
.footer {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
  height: 50px;
}

.blog-page{
    max-width: 1000px;
    margin: 0 auto;
}

.normal-margin{
    margin-left:10px;
    margin-right:10px;
}


#window-parent{
    display: flex;
    max-width: 500px;
    margin:auto;
}

#narrow {
    width: 200px;
   
    /* Just so it's visible */
  }
  #wide {
    flex: 1;
    /* Grow to rest of container */
   
    /* Just so it's visible */
  }