<!DOCTYPE html>

<html>
  <head>
    <title>Caleb McCarthy</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <script src="../js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    </head>
  <body>
    <div class="topnav" id="myTopnav">
        <a class="home" href="../index.html" >Home</a>
        <a class="projects" href="projects.html">Projects</a>
        
        <a class="about active" >About</a>
        <a class="blog" href="blog.html">Blog</a>
        <a class="contact" href="contact.html">Contact</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="dropDownNav()">&#9776;</a>
        
      </div>


 <h1 align="center" style="color:#e0e0e0"> About</h1>


<p style="text-align: center">Hi I'm a Dallas area developer. </p>
    <img id="calebme" class="center" src="../assets/rest.jpg" > 

</body>

<script>

</script>
