<!DOCTYPE html>
<html>
{% include "header.html" %}
<body>
<div class="content">
    {% include "menu.html" %}
    <div class="normal-margin  ">
    <h1 align="center"> Blogs</h1>
    <hr>
    <table style="min-width: 400px;">
      <tr>
        <th>Blog</th>
        <th>Date</th>
        
      </tr>
      <tr>
        <td><a  href="{{level}}china-2019-page-1.html">China Trip 2019</a></td>
        <td>2019</td>
       
      </tr>
      <tr>
        <td> <a  href="{{level}}blog.html">Windows 10 Linuxy Emacs</a></td>
        <td>2018</td>
       
        
      </tr>
    </table> 
    
   
   
</div>
</div>

{% include "footer.html" %}
  </body>
</html>

<style>
a {
  color: #e0e0e0;
}
th, td {
  padding: 15px;
  color: #e0e0e0;
}

th {
  text-align: left;
  color: #e0e0e0;
}


</style>