<!DOCTYPE html>

<html>
  <head>
    <title>Caleb McCarthy</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <script src="../js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a class="home" href="../index.html" >Home</a>
      <a class="projects" href="projects.html">Projects</a>
      
      <a class="about" href="about.html" >About</a>
      <a class="blog active" href="javascript:navSwitch('blog')">Blog</a>
      <a class="contact" href="contact.html">Contact</a>
      <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="dropDownNav()">&#9776;</a>
      
    </div>
<h1 align="center"> Blog</h1>

<h3 align="center" class="underline">Run Emacs in WSL</h3>


<p class="center-alighn">  If you're like me you like emacs, but for what ever reason you need to run windows 10.This is a problem for a few reasons.</p>

<p class="center-alighn">
  1.Power Shell is still Garb. It's ugly and doesn't come with grep.

</p>

<img class="center" src="../assets/powershell.JPG" width=500/>

<p class="center-alighn">  2.Having a terminal in Emacs is my favorite part of emacs. </p>
<p class="center-alighn"> Getting a shell to work in emacs for windows is a pain</p>
<img class="center" src="../assets/emacs.PNG" width=500/>



<p class="center-alighn">3. Emacs in a wsl terminal still suffers from a few quirks.</p>
<img class="center" src="../assets/emacs-terminal.JPG" width=500/>

<h3 align="center">So whats the solution?</h3>

<p class="center-alighn"> Install xming, set the display value in wsl and load emacs through the x server </p>

<p class="center-alighn underline"> 1. Install xming and launch it in windows</p>
<p class="center-alighn">Xming is a x-server for windows. You can download it <a href="https://sourceforge.net/projects/xming/">here</a>.</p>

<img class="center-small" src="../assets/xming.png" width=200/>

<p class="center-alighn">2. In wsl install x11 utils</p>
<pre>
sudo apt-get install x11-apps
</pre>

<p class="center-alighn underline"> 3. In wsl set the display to 0 </p>
<pre>
export DISPLAY=:0
  </pre>

<p class="center-alighn underline"> 4. Install emacs launch it, and enjoy a full graphical version of linux emacs on windows</p>

<img class="center" src="../assets/done.jpg" width=900/>

  </body>
</html>