<!DOCTYPE html>
<html>
  {% include "header.html" %}
  <link rel="stylesheet" href="../css/blog-css.css">
  <body>
    <div class="content">
      {% include "menu.html" %}
      <div class="blog-content">
          <div class="marginizing">
            <h1 align="center" > China Trip 2019</h1>

            <p>September 2 2019 I took my first Trip to China to meet the inlaws.</p>
            <h2>Flight In</h2>
            <p> We were worried our son Elijah would be bored. He was about a year and a half old; However he adapted pretty quick. I pre downloaded kids videos from youtube to my laptop to prepare for his bordom. </p>
            <a target="_blank" href="../assets/IMG_5688.jpg">
              <img src="../assets/thumbnails/IMG_5688.jpg" Width="700px" style="max-width: 100%;"  alt="Flight">
            </a>
            <p> Elijah slept most the way from Seattle to Shanghai. I drank coffee the whole way.  </p>
            <a target="_blank" href="../assets/IMG_5704.jpg">
              <img src="../assets/thumbnails/IMG_5704.jpg" Width="700px" style="max-width: 100%;" alt="Flight2">
            </a>

            <p>We were super excited to be in Shanghai. Even if we hadn't slept in like 40 hours.</p>
            <a target="_blank" href="../assets/IMG_5716.JPG">
              <img src="../assets/thumbnails/IMG_5716.JPG"  Width="700px" style="max-width: 100%;" alt="At Shanghai">
            </a>

            <p></p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/yhtTMeXMerk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>To Be Continued...</h3>
        </div>
      </div>
      </div>
    {% include "footer.html" %}
  </body>
</html>