<div class="topnav" id="myTopnav">
  <a class="home active" href="javascript:navSwitch('home')" >Home</a>
  <a class="projects" href="javascript:navSwitch('projects')">Projects</a>
  <!-- <div class="dropdown">
    <button class="dropbtn">Dropdown 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>  -->
  <a class="about" href="views/about">About</a>
  <a class="blog" href="javascript:navSwitch('blog')">Blog</a>
  <a class="contact" href="javascript:navSwitch('contact')">Contact</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="dropDownNav()">&#9776;</a>
  
</div>
