
    <head>
        <title>Caleb McCarthy</title>
        <link rel="stylesheet" href="{{cssdir}}/style.css">
        <link rel="stylesheet" href="{{cssdir}}/syntax/dracula.css">
        <link rel="stylesheet" href="{{cssdir}}/header.css">
        <script src="{{jsdir}}/script.js"></script>
        <script src="{{jsdir}}/highlight.pack.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8"/>
        
    </head>
    <script>hljs.initHighlightingOnLoad();</script>
 
        