<!DOCTYPE html>

<html>
  <head>
    <title>Caleb McCarthy</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <script src="../js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    </head>
  <body>
    <div class="topnav" id="myTopnav">
        <a class="home" href="../index.html" >Home</a>
        <a class="projects active" >Projects</a>
        
        <a class="about" href="about.html" >About</a>
        <a class="blog" href="blog.html">Blog</a>
        <a class="contact" href="contact.html">Contact</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="dropDownNav()">&#9776;</a>
        
      </div>

<h1 align="center"> Projects</h1>



<ul class="center-list line-height-list" style="list-style-type:none;">
        <li><a  class="no_underline project-link" href="https://github.com/camccar/RustTetris"> Rust Tetris https://github.com/camccar/RustTetris </a> </li>
        <li>Type script Tetris <a  class="no_underline project-link" href="tetris.html">  https://github.com/camccar/tetris </a> </li>
        <li><a  class="no_underline project-link" href="https://github.com/camccar/cedictToSqliteLinux"> cedict to sqlite converter </a></li>
      </ul>
</body>
</html>