<!DOCTYPE html>

<html>
  {% include "header.html" %}
  <body>

  <div>
    <div class="content">
    {% include "menu.html" %}

   

<h1 align="center"> Projects</h1>

<ul class="center-list line-height-list" style="list-style-type:none;">
        <li><a  class="no_underline project-link" href="https://github.com/camccar/RustTetris"> Rust Tetris https://github.com/camccar/RustTetris </a> </li>
        <li>Type script Tetris <a  class="no_underline project-link" href="https://camccar.github.io/tetris/">  https://github.com/camccar/tetris </a> </li>
        <li><a  class="no_underline project-link" href="https://github.com/camccar/cedictToSqliteLinux"> cedict to sqlite converter </a></li>
      </ul>
</div>

{% include "footer.html" %}
</body>
</html>